<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>    
		<typeAlias alias="coffee_recommand" type="spring.fin.model.CoffeeInformationDTO" />
		<typeAlias alias="coffee_taste" type="spring.fin.model.CoffeeTasteDTO" />
		<typeAlias alias="coffee_post" type="spring.fin.model.CoffeePostscriptDTO" />
		<typeAlias alias="member" type="spring.fin.model.MemberDTO" />
		<typeAlias alias="buy_record" type="spring.fin.model.BuyRecordDTO" />
		<typeAlias alias="coupon_inform" type="spring.fin.model.CouponDTO" />
		<typeAlias alias="basket" type="spring.fin.model.BasketDTO" />
		<typeAlias alias="coffee_article" type="spring.fin.model.CoffeeArticleDTO" />
		<typeAlias alias="tagList" type="spring.fin.model.InstaTagDTO" />
		<typeAlias alias="coboard" type="spring.fin.boardsmodel.CoBoardDTO"/>
		<typeAlias alias="cosearch" type="spring.fin.boardsmodel.CoSearchDTO"/>	
		<typeAlias alias="listAll" type="spring.fin.model.SearchCriteriaDTO" />	
		<typeAlias alias="userIP" type="spring.fin.boardsmodel.userIPDTO"/>
	</typeAliases>	
	<mappers>
	    <mapper resource="spring/fin/dao/coffee_recommand.xml" />
	    <mapper resource="spring/fin/dao/coffee_taste.xml" />
	    <mapper resource="spring/fin/dao/coffee_post.xml" />
	    <mapper resource="spring/fin/dao/member.xml" />
	    <mapper resource="spring/fin/dao/buy_record.xml" />
	    <mapper resource="spring/fin/dao/coupon.xml" />
	    <mapper resource="spring/fin/dao/basket.xml" />
	    <mapper resource="spring/fin/dao/coffee_article.xml" />
	    <mapper resource="spring/fin/dao/instaTag.xml" />
	    <mapper resource="spring/fin/boardsdao/Coboard.xml" />
	    <mapper resource="spring/fin/dao/searchReview.xml" />
	    <mapper resource="spring/fin/boardsdao/userIP.xml"/>
	</mappers>
</configuration>
